<!doctype html>
<html lang="en" ng-app>
  <head>
    <title>Request Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/custom.css">
    <style>
      body {
        padding-top: 60px;
      }
    </style>
    <script>    
    function MessageController($scope) {
      var socket = io.connect();

      // Vars.
      
      var client_uuid_string = 'client.uuid';
      
      // Packets (try to init an exsiting client *ONLY* by UUID)
      // because the Server will load the rest of the Client model #todo
      $scope.clientPacket = {
        uuid: '',
        name: null,
        text: ''
      };

      // Connect APIs.
      ////////////////
      
      // Connect *ALL* clients.
      socket.on('connect', function () {
        $scope.register($scope.clientPacket);
      });
      
      // Register *UNIQUE* clients.
      $scope.register = function register(client) {
        // try to grab a stored client.uuid
        var clientStorage = localStorage[client_uuid_string];
        
        if(clientStorage) { 
          client.uuid = String(clientStorage.uuid || '') 
        };
        
        socket.emit('register', client);
      };
      
      // Receive our payload Packet.
      socket.on('online', function (packet) {
        // #todo: verify and store.
        $scope.clientPacket = packet;        
        
        // Store whatever (new or existing) clientPacket into localStorage.
        localStorage.setItem(client_uuid_string, {
          uuid: $scope.clientPacket.uuid, 
          data: $scope.clientPacket
        });
        
        $scope.$apply();
      });
      
      // Message APIs.
      ////////////////
      
      // Send a packet/request/message.
      $scope.submitMessage = function submitMessage(data) {
        var post = data.nodes.length + 1;
        var newName = '@' + (data.name || $scope.clientPacket.name);
        
        data.nodes.push({name: newName, text: String(data.message || 'nada'), nodes: []});
        
        $scope.message  = '';
        this.message    = '';
        data.text       = '';

        //socket.emit('message', $scope.client, $scope.message);
      };
      
      socket.on('receive', function (packet) {
        // packet = {
        //   uuid: client.uuid,
        //   name: client.name,
        //   text: String(message || '')
        // };
        
        // todo: support bundle changesets
        console.log('receive.packet:', packet);
        
        if ($scope.packages.has(packet.name)) {
          $scope.packages.get(packet.name).push(packet);
        } else {
          $scope.packages.set(packet.name, [packet]);
        }
        
        $scope.$apply();
      });
      
      $scope.tree = [{
        show: true,
        name: $scope.clientPacket.name, 
        text: $scope.message, 
        nodes: []}];
      }
    
    </script>
  </head>
  <body>
  <div class="container" ng-controller="MessageController">
    
    <!-- <header class="">
      <h1>Admin // Login</h1>

      <form ng-submit="login()">
        <div class="input-append">
          <input type="password" class="span6" ng-model="userpass" placeholder="">
          <input type="submit" class="btn btn-primary" value="Login" ng-disabled="!userpass">
        </div>
      </form>
    </header> -->
    
    <section id="requests" ng-model="requests">
      
    <form id="message" ng-submit="submitMessage()">
      <header>
        <h1>Hi...</h1>
        <input type="text" class="span4" ng-model="clientPacket.name" placeholder="Nickname">
      </header>
      
      <div class="row">
      <div id="messages" class="span12">
        <h1>All Messages(s)</h1>
        
        <div ng-app="Application" ng-controller="MessageController"
          class="messages table table-striped ">
          
          <div id="messagescontainer" ng-repeat="data in tree" ng-include="'tree_item_renderer.html'"></div>
        </div>
                
      </div>
      </div>
    </form>
    
    </section>
    </div>
    
    <script type="text/ng-template" id="tree_item_renderer.html">
      <div class="messagetable">
        <p class="text">{{data.text}}</p>
        <p class="name">{{data.name}}
          <input type="submit" ng-click="data.show = !data.show" class="span1 btn btn-primary" value="...">
        </p>
        
        <div ng-repeat="data in data.nodes" ng-include="'tree_item_renderer.html'"></div>

        <div class="messagebox" ng-hide="!data.show">
          <input type="submit" ng-click="submitMessage(data)" class="btn btn-primary" value="Say!">
          <input type="text" class="span7" ng-model="data.message" placeholder="New Message...">          
        </div>
      </div>
      
    </script>
    
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/angular.min.js"></script>
    
  </body>
</html>
