<!doctype html>
<html lang="en" ng-app>
  <head>
    <title>Request Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/custom.css">
    <style>
      body {
        padding-top: 60px;
      }
    </style>
    <script>
    function RequestController($scope) {
			var socket = io.connect();

			// ADMIN: Our login user/pass.
			$scope.userpass 	= '';
			$scope.useradmin 	= false;

			$scope.messages 	= [];

			// Client				
			$scope.name = '';
			$scope.text = '';

			
			// Messages.
			
      socket.on('connect', function () {
        console.log('connect in: xxx');
        
				$scope.setName();
      });
			
      socket.on('roster', function (names) {
        console.log('roster in: xxx');
        $scope.roster = names;
      });
			
      socket.on('message', function (message) {
        console.log('message in: xxx');
        $scope.messages.push(message);
      });
			
      socket.on('messages', function (messages) {
        console.log('messages in: xxx');
        
				$scope.messages = messages;
        $scope.$apply();
      });
				
			// ADMIN: Our login function for admins.
      
			$scope.login = function login() {
        console.log('Logging in: xxx');
				
				socket.emit('login', $scope.userpass);
      };
				
			// Scopes.
			
      $scope.send = function send() {
        console.log('Sending message:', $scope.text);
				
        socket.emit('message', {name: $scope.name, text: $scope.text});
        $scope.text = '';
      };
			
      $scope.setName = function setName() {
        console.log('Set name in: xxx');
				
        socket.emit('identify', $scope.name);
      };
    }
		</script>
  </head>
  <body>
    <div class="container" ng-controller="RequestController">
      <div class="navbar navbar-fixed-top navbar-inverse">
        <div class="navbar-inner">
          <div class="pull-right">
            <a href="https://c9.io" class="brand">Cloud9 IDE</a>
          </div>
        </div>
      </div>
			
			<section id="admin-login">
	      <div class="page-header">
	        <h1>Admin // Login</h1>
	      </div>
	      <div class="row">
	        <form ng-submit="login()">
	          <div class="input-append span7">
	            <input type="password" class="span6" ng-model="userpass" placeholder="">
	            <input type="submit" class="btn btn-primary" value="Login" ng-disabled="!userpass">
	          </div>
	        </form>
	      </div>
			</section>
						
			<section id="admin-requests" ng-model="useradmin">
	      <div class="page-header">
	        <h1>Admin // View Request(s)</h1>
	      </div>
	      <div class="row">
	        <div class="span9">
	          <table class="table table-striped table-bordered">
	            <thead>
	              <tr>
	                <th class="span2">Name</th>
	                <th class="span7">Text</th>
	              </tr>
	            </thead>
	            <tbody>
	              <tr ng-repeat="message in messages">
	                <td class="span2" ng-bind="message.name"></td>
	                <td class="span7" ng-bind="message.text"></td>
	              </tr>
	            </tbody>
	          </table>
	        </div>
	      </div>
			</section>
			
			<section id="client-request">
	      <div class="page-header">
	        <h1>Make a Request...</h1>
	      </div>
	      <div class="row controls">
	        <form ng-submit="send()">
	          <div class="span2"><input type="text" class="input-block-level" ng-model="name" placeholder="Your Name"></div>
	          <div class="input-append span7">
	            <input type="text" class="span6" ng-model="text" placeholder="Your Message">
	            <input type="submit" class="btn btn-primary" value="Send Request" ng-disabled="!text">
	          </div>
	        </form>
	      </div>
			</section>
		
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/angular.min.js"></script>
  </body>
</html>
